<% title "Register" %>

<%= devise_error_messages! %>

<div id="jg-registration-widget" class="pure-g">  
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class => "pure-u-1 form-devise", :role => "form" }) do |f| %>

    <header class="session-logo">
      <%= link_to 'Cloud.net', root_path, { class: "pure-u-1-1", id: 'logoLarge'} %>
    </header>

    <dl>
      <dt class="jg-icon icon-user pure-u-1-8"></dt>
      <dd class="pure-u-7-8">
        <% auto = !@user.full_name.present? %>
        <%= f.text_field :full_name, :autofocus => auto, :class => "form-control", :placeholder => "Full Name" %>
      </dd>
    </dl>

    <dl>
      <dt class="jg-icon icon-email pure-u-1-8"></dt>
      <dd class="pure-u-7-8">
        <% auto = @user.full_name.present? && !@user.email.present? %>
        <%= f.email_field :email, :autofocus => auto, :class => "form-control", :placeholder => "Email" %>
      </dd>
    </dl>

    <dl>
      <dt class="jg-icon icon-locked pure-u-1-8"></dt>
      <dd class="pure-u-7-8">
        <% auto = @user.full_name.present? && @user.email.present? %>
        <%= f.password_field :password, :autofocus => auto, :class => "form-control", :placeholder => "Password" %>
      </dd>
    </dl>

    <dl>
      <dt class="jg-icon icon-locked pure-u-1-8"></dt>
      <dd class="pure-u-7-8">
        <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Password (confirm)" %>
      </dd>
    </dl>

    <dl>
      <dd id="session-action" class="pure-u-1-1"><%= f.button "Sign up", {id: 'session-button', :class => "btn btn-lg btn-primary btn-block jg-submit-button"} %></dd>
    </dl>
  <% end %>
</div>

<%= render "devise/shared/links" %>
