#order-summary
  %h3 Order Summary:
  %p 
    =# @location.try(:budget_vps) ? "VPS Server" : "Cloud Server"
    = @server_params[:name]
    %br
    %span.order-provider
      with 
      = @location.try(:provider)
      
  =summary_param("Memory", "MB", @server_params[:memory])
  =summary_param("CPU(s)", "Core", @server_params[:cpus])
  =summary_param("Disk Space", "GB", @server_params[:disk_size])
  %p
    Location
    %span.pull-right.value= @location.city
    %br
    =image_tag("/assets/images/flags/flat/24/#{@location.country.upcase}.png", alt: @location.country)
    %span.pull-right.value= @location.country_name
  %p.summary
    Monthly
    %span.pull-right.value= "$" + @m_price.to_s
    %br
    Hourly
    %span.pull-right.value= "$" + @h_price.to_s
