#new-ip.modal.input-form.fade{"aria-hidden" => "true", "aria-labelledby" => "new-ip-label", role: "dialog", tabindex: "-1"}
  .modal-dialog{"ng-if" => "server"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#new-ip-label.modal-title Add new IP Address

      .modal-body
        .jg-widget-form.pure-g-r.clearfix
          %div{data: {"ng-hide" => "ips_disabled(server)"}}
            %p A new IP address will be added to the server without rebooting. You may then click on the 'Rebuild Network' button to have the IP address automatically configured on your server.
            
            - if @server.ips_chargeable?
              .ip-resources-total.pure-g
                = render partial: "server_wizards/steps/partials/prepaid_confirmation_costs", locals: { costs: @costs, coupon_multiplier: @coupon_multiplier }
            
            %p Please confirm you would like to continue.
            
          %div{data: {"ng-show" => "ips_disabled(server)"}}
            %p= "Sorry, you cannot add anymore IP addresses to this server. We currently allow a maximum of #{Server::MAX_IPS} IP addresses per server on this location."
      
        .modal-footer
          %div{data: {"ng-hide" => "ips_disabled(server)"}}
            = form_for @ip_address do |f|
              %button.btn.jg-back-button{"data-dismiss" => "modal"} Cancel
              = f.submit "Add IP Address", class: "btn jg-submit-button"
