#destroy-server.modal.input-form.fade{"aria-hidden" => "true", "aria-labelledby" => "destroy-server-label", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#destroy-server-label.modal-title Delete Server

      .modal-body
        .jg-widget-form.pure-g-r.clearfix
          %div
            - expected_text = "Destroy Server #{server.name}"
            %p
              Please confirm you wish to destroy the server
              %strong= @server.name
              by typing the words
              %strong= "'#{expected_text}'"
              below (without the quotation marks)
          .form-group.pure-u-1
            = text_field_tag :destroy_server_input, nil, placeholder: 'Type words in here', class: 'form-control focus', required: true, data: {expected: "#{expected_text}"}
          %p
            We will credit your account with
            %strong#server-delete-credit (calculating...)
            for unused server time.
          %p
            We will charge your account
            %strong#server-delete-bw (calculating...) 
            for additional bandwidth.
          %p
            (plus any EU VAT you may have paid if applicable. This amount does not include any coupons you may have used to pay for this server)
        .modal-footer
          = form_tag server_path(server.id), method: :delete, role: 'form', class: 'jg-delete-server-form' do
            %button.btn.jg-back-button{"data-dismiss" => "modal"} Cancel
            = button_tag "Destroy Server", disabled: true, id: 'destroy_server_button', class: 'btn jg-submit-button'

:coffee
  millicents_dollar = #{Invoice::MILLICENTS_IN_DOLLAR}
  
  formatCurrency = (data) ->
    value = data / millicents_dollar
    money = accounting.formatMoney(value, "$", 2, ",")
    return money
  
  $ ->
    # Destroy Servers Calculation
    $("#destroy-server").on 'show.bs.modal', (e) -> 
      $.ajax 
        type: "GET",
        url: '/servers/#{server.id}/calculate_credit',
        dataType: "JSON",
        success: (response) ->
          $("#server-delete-credit").html(formatCurrency(response.credit))
          $("#server-delete-bw").html(formatCurrency(response.bandwidth))
