.jg-widget-content
  .jg-widget-header.pure-g.clearfix
    %h2.pure-u-1-2.jg-icon.icon-target= "AAAA (Host) Records for #{domain.domain}" 
    %ul.pure-u-1-2.jg-widget-controls
      %li
        %a.jg-button-lilac.jg-new-button{"data-target" => "#add-aaaa-record", "data-toggle" => "modal"} Add AAAA Record
  .jg-widget-body
    %table.table.table-hover.jg-tables
      %thead
        %tr
          %th Name
          %th IP
          %th TTL
          %th Actions
      %tbody
        - records[:aaaa].each do |record|
          %tr
            %td= dns_editable_record record, :name
            %td= dns_editable_record record, :ip
            %td= dns_editable_record record, :ttl
            %td
              .btn-group{class: 'sticky'}
                %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button", "data-target" => "#"}
                  %span.icon-settings
                  %span.icon-arrow-down
                %ul.jg-dropmenu.dropdown-menu.dropdown-menu-right{role: "menu"}
                  %li
                    = link_to "Delete Record", destroy_record_dns_zone_path(@domain.id, record_id: record[:id]), method: :delete, confirm: "Are you sure you want to delete this record?"

        - if records[:aaaa].size == 0 
          %tr
            %td.no-data{colspan: "4"}
              %p= "You don't have any AAAA records for this domain"

#add-aaaa-record.modal.input-form.fade{"aria-hidden" => "true", "aria-labelledby" => "aaaa-record", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4#aaaa-record.modal-title Add AAAA Record

      = form_tag create_record_dns_zone_path(@domain.id), remote: true, role: 'form', class: 'jg-dns-record-form' do
        .modal-body
          %div.dns-alert

          .jg-widget-form.pure-g-r.clearfix
            = hidden_field_tag :type, 'aaaa'
            .form-group.pure-u-1
              = label_tag :name, 'Name', class: 'pure-u-1'
              = text_field_tag :name, nil, placeholder: 'www.example.com', class: 'form-control focus', required: true
            .form-group.jg-inline.pure-g-r.clearfix
              .pure-u-1.pure-u-md-1-2
                = label_tag :ip, 'IP', class: 'pure-u-1'
                = text_field_tag :ip, nil, placeholder: '2001:db8:abcd:1234:efab:5678:cdef:9012', class: 'form-control', required: true
              .pure-u-1.pure-u-md-1-2
                = label_tag :ttl, 'TTL', class: 'pure-u-1'
                = select_tag :ttl, dns_ttl_options
        
          .modal-footer
            %a.btn.jg-back-button{"data-dismiss" => "modal"} Cancel
            = button_tag "Create AAAA Record", class: 'btn jg-submit-button'