#footer
  .container
    .pure-g
      .pure-u-1-6
        %ul.list-unstyled
          %li= link_to t('menu.cloud_net'), root_path
          %li= link_to t('menu.account_login'), new_user_session_path
      .pure-u-1-6
        %ul.list-unstyled
          %li= link_to t('menu.blog'), "http://blog.cloud.net/", target: "_blank"
          %li= link_to t('menu.features'), public_features_path 
          %li= link_to t('menu.market'), search_path
          =#%li Careers
      .pure-u-1-6
        %ul.list-unstyled
          %li= link_to t('menu.faq'), 'https://help.cloud.net/hc/en-us/sections/200083231-FAQ',
            target: "_blank"
          %li= link_to('Help Center',
            'https://help.cloud.net', target: "_blank")
          %li= link_to t('menu.contact'), public_contact_path
      .pure-u-1-2
        .pull-right
          =image_tag 'cloudnet-small-grey.png'
          %p= "Copyright ©#{Time.now.year} #{ENV['BRAND_NAME']} Ltd."
          %p
            %span.tos= link_to('Terms of Service',
            'https://help.cloud.net/hc/en-us/articles/200691841-Terms-of-Service',
            target: "_blank")
            |
            %span.priv.hide Privacy
          = image_tag 'social-icons.png', usemap: "#footer-social"
          %map{name: "footer-social"}
            %area{shape: "rect",
                  coords: "0,0,17,17", 
                  href: "https://www.facebook.com/CloudDotNet?_rdr",
                  target: "_blank"}
            %area{shape: "rect",
                  coords: "26,0,43,17", 
                  href: "https://twitter.com/cloud",
                  target: "_blank"}
