.navbar-collapse.collapse
  %ul.nav.navbar-nav
    - if current_user
      = navigation_link %w(dashboard), 'Dashboard', dashboard_index_path
      = navigation_link %w(servers server_wizards backups ip_addresses), 'Servers', servers_path
      = navigation_link %w(dns_zones), 'DNS', dns_zones_path
      = navigation_link %w(billing), 'Billing', billing_index_path
      = navigation_link %w(tickets ticket_replies), 'Support', tickets_path
      =# navigation_link %w(users sessions registrations devise_otp/credentials devise_otp/tokens), 'Account', edit_user_registration_path

      %li.dropdown
        = link_to "#",class: "dropdown-toggle", data: {toggle: "dropdown"},
          role: "button", aria: {expanded: false} do
          More
          %span.caret
        %ul.jg-moremenu.dropdown-menu{role: "menu"}
          %li=link_to t('menu.market'), search_path
          %li=link_to 'CDN', "http://cdn.net/", target: "_blank"
          %li=link_to t('menu.features'), public_features_path
          %li=link_to t('menu.blog'), "http://blog.cloud.net/", target: "_blank"
          %li=link_to t('menu.faq'), 'https://help.cloud.net/hc/en-us/sections/200083231-FAQ', target: "_blank"
          %li=link_to t('menu.contact'), public_contact_path
      -# if is_admin_user?
        =# navigation_link 'admin', 'Admin', admin_root_path
