%script
  - r = render file: 'billing/cards.json', formats: [:json]
  = raw "var account_cards = #{r}" 

= render partial: 'cards', locals: { cards: @cards } if has_stripe?

= javascript_include_tag "billing/add_card_visual"
= javascript_include_tag "billing/add_card_process"
= javascript_include_tag "billing/billing_cards"
