.jg-widget-content
  .jg-widget-header.pure-g.clearfix
    %h2.pure-u-1-2.jg-icon.icon-tickets Wallet Details
  .jg-widget-body.pure-u-1
    .jg-widget-form.pure-g-r.clearfix
      .form-group.jg-inline.pure-g-r.clearfix.pure-g.pure-u-1
        .pure-u-1-3
          .jg-widget-body
          %p{ :class => (remaining_balance_in_credit?(current_user) ? 'in_credit_colour' : 'in_debt_colour') }
            Wallet Balance:
            %strong= remaining_balance(current_user)

          - if defined?(wizard)
            %p
              - if wizard.enough_wallet_credit?
                - days = current_user.account.wallet_server_days(wizard)
                = "You have enough available balance to run this server for approximately"
                %strong= "#{days.round(1)} days"
              - else
                = "You do not have enough credit to run this server until next invoice date. Please add funds to your Wallet."
              .small
                (this does not include any coupon code discounts which may be applied to your account or any VAT you may need to pay)
        .pure-u-1-3
          = image_tag("/assets/paypalcards.png")
  .jg-widget-footer.actions.clearfix
    %ul.jg-widget-controls
      %li
        %a.btn.jg-submit-button#add-funds-button Add Funds
