.jg-widget-body#jg-card-form
  .jg-widget-form.pure-g.pure-u-1
    %div.cc_card_alert#cc_card_alert
    
    - if current_user.trial_credit_eligible?
      %div.alert.alert-warning
        Please note that your card will be authorising $1 for authentication purposes. This authorisation will be reversed automatically in a week.

    - unless Rails.env == 'production'
      %div.alert.alert-info
        This is a non-production environment, so please use Stripe's test card numbers.
        All test cards can be found
        %a{:href => "https://stripe.com/docs/testing#cards"} here.
        The simplest test card is: 4242424242424242. All other fields are arbitrary.

    .form-group.pure-u-1.jg-inline
      .pure-u-1.pure-u-md-3-4
        = label_tag 'cc_number_label', 'Card Number' , {for: '#cc_number', class: 'pure-u-1 jg-mandatory'}
        %span.jg-relative.field-container
          = text_field_tag 'cc_number', '' , {class: 'pure-u-1', placeholder: '---- ---- ---- ----'}
          %span.cardtype.field-status.icon-error{class: 'bs-tooltip', data: {toggle: 'tooltip', title: 'Invalid card number, please check the card number.', placement: 'bottom'}}
      .pure-u-1.pure-u-md-1-4
        = label_tag 'cc_cvc_label', 'CVC' , {for: '#cc_cvc', class: 'pure-u-1 jg-mandatory'}
        %span.jg-relative.field-container
          = text_field_tag 'cc_cvc', '' , {class: 'pure-u-1', placeholder: '---', maxlength: 4}
          %span.field-status.icon-error{class: 'bs-tooltip', data: {toggle: 'tooltip', title: 'Invalid CVC, check the last 3-4 digits on the back of your card', placement: 'bottom'}}
    .form-group.pure-u-1.jg-inline
      .pure-u-1.pure-u-md-1-2
        = label_tag 'cc_holder_label', 'Cardholder Name' , {for: '#cc_holder_name', class: 'pure-u-1 jg-mandatory'}
        = text_field_tag 'cc_holder_name', '' , {class: 'pure-u-1'}
      .pure-u-1.pure-u-md-8-24.jg-relative
        = label_tag 'cc_month', 'Expiry Month', {class: 'pure-u-1 jg-mandatory'}
        %span.jg-relative.field-container
          = text_field_tag 'cc_month', '' , {class: 'pure-u-1', placeholder: 'MM', maxlength: 2}
          %span.field-status.icon-error{class: 'bs-tooltip', data: {toggle: 'tooltip', title: 'Invalid month', placement: 'bottom'}}
      .pure-u-1.pure-u-md-4-24
        = label_tag 'cc_year', 'Expiry Year' , {class: 'pure-u-1 jg-mandatory'}
        %span.jg-relative.field-container
          = text_field_tag 'cc_year', '' , {class: 'pure-u-1', placeholder: 'YY', maxlength: 2}
          %span.field-status.icon-error{class: 'bs-tooltip', data: {toggle: 'tooltip', title: 'Invalid year', placement: 'bottom'}}
  .jg-widget-form.pure-g.pure-u-1
    .form-group.pure-u-1.jg-inline
      .pure-u-1.pure-u-md-1-2
        = label_tag 'cc_address1', 'Billing Address Line 1' , {class: 'pure-u-1 jg-mandatory'}
        = text_field_tag 'cc_address1', '' , {class: 'pure-u-1', placeholder: 'Enter address line 1'}
      .pure-u-1.pure-u-md-1-2
        = label_tag 'cc_address2', 'Billing Address Line 2' , {class: 'pure-u-1'}
        = text_field_tag 'cc_address2', '' , {class: 'pure-u-1', placeholder: 'Enter address line 2 (optional)'}
  .jg-widget-form.pure-g.pure-u-1
    .form-group.pure-u-1.jg-inline
      .pure-u-1.pure-u-md-1-2
        = label_tag 'cc_city', 'Billing City' , {class: 'pure-u-1 jg-mandatory'}
        = text_field_tag 'cc_city', '' , {class: 'pure-u-1', placeholder: 'Enter city'}
      .pure-u-1.pure-u-md-1-2
        = label_tag 'cc_region', 'Billing Region/State/County' , {class: 'pure-u-1 jg-mandatory'}
        = text_field_tag 'cc_region', '', {class: 'pure-u-1', placeholder: 'Enter Region/State/County'}
  .jg-widget-form.pure-g.pure-u-1
    .form-group.pure-u-1.jg-inline
      .pure-u-1.pure-u-md-1-2
        = label_tag 'cc_postal_code', 'Billing Postal/Zip Code', {class: 'pure-u-1 jg-mandatory'}
        = text_field_tag 'cc_postal_code', '' , {class: 'pure-u-1', placeholder: 'Enter zipcode or postcode'}
      .pure-u-1.pure-u-md-1-2
        = label_tag 'cc_country', 'Billing Country' , {class: 'pure-u-1 jg-mandatory'}
        = country_select_tag 'cc_country', 'US', {priority: ['US', 'GB', 'CA', 'AU']} 
  - if can_send_sms?
    .jg-widget-form.pure-g.pure-u-1
      .form-group.pure-u-1.jg-inline#verify-phone
        .pure-u-1.pure-u-md-1-2
          = label_tag 'user_phone_number', 'Phone Number', {class: 'pure-u-1 jg-mandatory'}
          #phone-number-input= render partial: 'billing/add_card/verify_phone', locals: {verified: current_user.phone_verified?}
          #phone-number-verification
            .input-group
              = text_field_tag 'phone_verification_pin', '', {class: 'pure-u-1 form-control', placeholder: 'Enter PIN'}
              .input-group-btn
                = button_tag 'Confirm', {class: 'btn btn-default btn-verify', id: 'confirm-phone-pin'}
                = button_tag content_tag(:span, '', class: 'caret') + content_tag(:span, 'Toggle dropdown', class: 'sr-only'), {class: 'btn btn-default btn-verify dropdown-toggle', :'data-toggle' => 'dropdown', id: 'more-phone-pin'}
                %ul.dropdown-menu.dropdown-menu-right
                  %li= link_to 'Send PIN via call', '#', {id: 'resend-phone-pin'}
                  %li= link_to 'Change number', '#', {id: 'retry-phone-pin'}
          %span#error-message.help-block.hidden Invalid number
          %span#success-message.help-block.hidden Invalid number
        .pure-u-1.pure-u-md-1-2
          - unless current_user.phone_verified?
            .alert.alert-warning A verified phone number is required to add a credit card. Please enter phone number and click Verify.
  .jg-widget-footer.actions.clearfix
    %ul.jg-widget-controls
      %li= button_tag "Add card", {class: 'btn jg-submit-button', id: "cc_card_submit"}
