<% title "Security Check" %>
<% breadcrumb :two_factor_auth %>

<%= devise_error_messages! %>

<div class="jg-widget-content">
  <div class="jg-widget-header pure-g clearfix">
    <h2 class="pure-u jg-icon icon-user">Security Check</h2>
  </div>
  <div class="jg-widget-body">
    <div class="jg-widget-form pure-g-r clearfix">
      <div class="jg-widget pure-u-1">
        <div class="jg-widget-header pure-g jg-external-header jg-relative clearfix">
          <h2 class="pure-u"><%= I18n.t('explain', {:scope => 'devise.otp.credentials_refresh'}) %></h2>
        </div>

        <div class="jg-widget-form pure-u-1">
          <div id="jg-registration-widget" class="pure-g sessions">  
            <%= form_for(resource, :as => resource_name, :url => [:refresh, resource_name, :otp_credential], :html => { :method => :put, :class => "pure-u-1 form-devise" }) do |f| %>              
              <%= f.hidden_field :email %>
  
              <dl>
                <dt class="jg-icon icon-locked pure-u-1-8"></dt>
                <dd class="pure-u-7-8"><%= f.password_field :refresh_password, :autofocus => true, :class => "form-control", :placeholder => "Password", :autocomplete => :off %></dd>
              </dl>
              
              <% if resource.otp_enabled? %>
                <dl>
                  <dt class="jg-icon icon-unlocked pure-u-1-8"></dt>
                  <dd class="pure-u-7-8"><%= f.text_field :token, :class => "form-control", :placeholder => "Authenticator Token", :autocomplete => :off, :autofocus => true, :value => '' %></dd>
                </dl>
              <% end %>
          
              <dl>
                <dd id="session-action" class="pure-u-1-1"><%= f.button I18n.t(:go_on, {:scope => 'devise.otp.credentials_refresh'}), {id: 'session-button', :class => "btn btn-lg btn-primary btn-block jg-submit-button"} %></dd>
              </dl>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>