<% title "Login | Two-factor Auth" %>

<%= devise_error_messages! %>
<div class="pure-g">
  <div class="pure-u-1-4"></div>
  <div class="pure-u-1-2">
    <div id="jg-registration-widget" class="pure-g sessions">  
      <%= form_for(resource, :as => resource_name, :url => [resource_name, :otp_credential], :html => { :method => :put, :class => "pure-u-1 form-devise", :role => "form" }) do |f| %>

        <%= f.hidden_field :challenge, {:value => @challenge} %>
        <%= f.hidden_field :recovery, {:value => @recovery} %>

        <header class="session-logo pure-u-1">
          <%= link_to ENV['BRAND_NAME'], root_path, { class: "pure-u-1", id: 'logoLarge'} %>
        </header>

        <%- if @recovery %>
          <dl class="info">
            Please enter recovery token number <%= resource.otp_recovery_counter + 1 %>
          </dl>
        <%- end %>

        <dl>
          <dt class="jg-icon icon-unlocked pure-u-1-8"></dt>
          <%- if @recovery %>
            <dd class="pure-u-7-8"><%= f.text_field :token, :autofocus => true, :class => "form-control", :placeholder => "Recovery Token", :autocomplete => :off, :autofocus => true, :value => '' %></dd>
          <% else %>
            <dd class="pure-u-7-8"><%= f.text_field :token, :autofocus => true, :class => "form-control", :placeholder => "Authenticator Token", :autocomplete => :off, :autofocus => true, :size => 6, :value => '' %></dd>
          <% end %>
        </dl>

        <dl>
          <dd id="session-action" class="pure-u-1-1"><%= f.button I18n.t('submit', {:scope => 'devise.otp.submit_token'}), {id: 'session-button', :class => "btn btn-lg btn-primary btn-block jg-submit-button"} %></dd>
        </dl>
      <% end %>
    </div>
  </div>
</div>

<%- if !@recovery && recovery_enabled? %>
<div id="links">
  <ul id="links_shared">
    <li>Please use Google Authenticator to generate your authentication code or click the link below to use a recovery code</li>
    <li><%= link_to I18n.t('recovery_link', {:scope => 'devise.otp.submit_token'}), otp_credential_path_for(resource_name, :challenge => @challenge, :recovery => true) %></li>
  </ul>
</div>
<% end %>