= semantic_form_for :charge_report, url: { action: :charge_report }, method: :post do |f|
  = f.inputs "Charges Finance Report | Choose Date Range" do
    = f.input :start, as: :date_picker, input_html: { value: Date.today - 1.month }
    = f.input :end, as: :date_picker, input_html: { value: Date.today }
  = f.actions do
    = f.action :submit, label: "Get Charge Report"
