<p>The following server has been stuck in the <%= @server.state %> state for <%= @stuck_duration %>.</p>

<% @server.hostname %>
Owned by <%= link_to @server.user.full_name, admin_user_url(@server.user) %>
<ul>
  <li>
    Server on <%= ENV['BRAND_NAME'] %> admin: <%= link_to @server.hostname, admin_server_url(@server) %>
  </li>
  <li>
    Server on OnApp: <a href="<%= @link_to_onapp_server %>"><%= @link_to_onapp_server %></a>
  </li>
</ul>
