<p>Hello</p>

<p>Please find attached <%= ENV['BRAND_NAME'] %> <%= @report.to_s.humanize %> from <%= @start_date.strftime("%d/%m/%Y") %> until <%= @end_date.strftime("%d/%m/%Y") %>.</p>

<p>Thanks,</p>

<p><%= ENV['BRAND_NAME'] %> Team</p>
