<p>
  Admin SHUTDOWN notification!
</p>

<p>
  The automatic shutdown was performed on all servers of <%= @user.full_name %>.
  There is a negative balance on this account by <%= @pretty_negative_balance %>.
</p>

<p>
  There were <%= (@user.notif_delivered) %> warnings delivered to that user.
  Link to the user's profile: <%= admin_user_url(@user) %>
  <br>
  After <%= @user.notif_before_destroy %> notifications the servers will be automatically destroyed.
</p>

<p>
  Thank you
  <br>
  Negative Balance Checker
</p>
