- breadcrumb :backups, @server
- title "Backups"

= render partial: 'servers/nav', locals: { server: @server }
%div
  .jg-widget-content
    .jg-widget-header.pure-g.clearfix
      %h2.pure-u-1-2{class: "jg-icon icon-cloud"}= "#{@server.name} - Server Backups"
      %ul.pure-u-1-2.jg-widget-controls
        %li
          %a.jg-button-lilac.jg-new-button{"data-target" => "#new-backup", "data-toggle" => "modal", "rel" => "nofollow", "ng-class" => "{disabled: backups_disabled(server), 'inactive-link': disabled(server)}"} Request Backup
    .jg-widget-body
      %table.table.table-hover.jg-tables
        %thead
          %tr
            %th Backup Date
            %th Status
            %th Backup Size
            %th Actions
          
        %tbody
          - @backups.each do |backup|
            %tr
              %td.moment-date= backup.backup_created.iso8601
              - if backup.built
                %td
                  .tags.backup-built= "Built"
                %td= "#{number_with_precision(backup.backup_size_mb, :precision => 2)} MB"
                %td
                  .btn-group{class: 'sticky'}
                    %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button", "data-target" => "#"}
                      %span.icon-settings
                      %span.icon-arrow-down
                    %ul.jg-dropmenu.dropdown-menu.dropdown-menu-right{role: "menu"}
                      %li
                        %a{"data-target" => "#restore-backup-#{backup.id}", "data-toggle" => "modal", "rel" => "nofollow", "ng-class" => "{disabled: backups_disabled(server), 'inactive-link': disabled(server)}"} Restore Backup
                      %li
                        = link_to "Delete Backup", server_backup_path(@server.id, backup.id), method: :delete, data: { confirm: "Are you sure you want to delete this backup?" }
              - else
                %td
                  .tags.backup-pending= "Pending"
                %td
                %td

          - if @backups.size == 0 
            %tr
              %td.no-data{colspan: "4"}
                %p= "You don't have any backups. Why not create one?"
                %a.jg-button-lilac.jg-new-button{"data-target" => "#new-backup", "data-toggle" => "modal", "rel" => "nofollow", "ng-class" => "{disabled: backups_disabled(server), 'inactive-link': disabled(server)}"} Request Backup

  
    .jg-widget-footer.jg-pagination
      - if @backups.size > 0 
        .jg-pagination-controls
          = link_to_previous_page @backups, '', class: 'jg-previous icon-arrow-left'
          %span= "Page #{@backups.current_page} of #{@backups.total_pages}"
          = link_to_next_page @backups, '', class: 'jg-previous icon-arrow-right'
          
  = render partial: 'new_backup_popover'
  = render partial: 'backup', collection: @backups.select{|b| b.built }