<p>
  Dear <%= @user.full_name %>,
</p>

<p>
  We have sent you already <%= @user.notif_delivered %> warning emails. However, your invoice is still not paid.
  All your servers have been destroyed automatically.
</p>

<p>
  Your <%= ENV['BRAND_NAME'] %> account balance is currently negative by <%= @pretty_negative_balance %>.
</p>

<p>
  Please login to the control panel at <a href="https://<%= ENV['HOST_DOMAIN'] %>"><%= ENV['BRAND_NAME'] %></a> and add new funds to your account before recreating servers.
  <br>
  If you have any questions or need any help, please contact our support staff via the help-desk within the control panel.
</p>

<p>
  Thank you
  <br>
  <%= ENV['BRAND_NAME'] %> Team
</p>
