<p>
  Dear <%= @user.full_name %>,
</p>

<p>
  Your <%= ENV['BRAND_NAME'] %> account balance is currently negative by <%= @pretty_negative_balance %>.
</p>

<p>
  This is your <%= (@user.notif_delivered + 1).ordinalize %> warning.
  <br>
  Please login to the control panel at <a href="https://<%= ENV['HOST_DOMAIN'] %>"><%= ENV['BRAND_NAME'] %></a> and add new funds to your account.
  <br>
  Please note that we will DESTROY all your servers automatically after <%= @user.notif_before_destroy %> warnings of a negative balance.
  <br>
  If you have any questions or need any help, please contact our support staff via the help-desk within the control panel.
</p>

<p>
  Thank you
  <br>
  <%= ENV['BRAND_NAME'] %> Team
</p>
