<div class="jg-widget-form pure-g-r clearfix">
  <div class="jg-widget pure-u-1">
    <div class="jg-widget-header pure-g jg-external-header jg-relative clearfix">
      <h2 class="icon-user jg-icon pure-u">Two-factor Auth Token</h2>
    </div>

    <div class="pure-u-md-2-24"></div>
    <div class="pure-u-1 jg-widget-content pure-u-md-20-24">
      <div class="jg-widget-body pure-g clearfix">
        <div class="jg-widget-form pure-u-1 jg-token">
          <div class="jg-otp-explain">
            <p><%= I18n.t('explain', {:scope => 'devise.otp.token_secret'}) %></p>
            <%= otp_authenticator_token_image(resource) %>
  
            <p><strong><%= I18n.t('manual_provisioning', {:scope => 'devise.otp.token_secret'}) %>:</strong>
            <code><%= resource.otp_auth_secret %></code></p>
          </div>
          
          <%- if resource.otp_enabled? %>
            <p class="jg-otp-explain">Two-factor authentication is enabled for your account. Be sure to download your recovery codes in case your device is unavailable</p>
          <% else %>
            <p class="jg-otp-explain">Please enter the code generated using Google Authenticator below to enable two-factor authentication for your account</p>

            <div class="jg-widget-form pure-u-1">
              <div id="jg-registration-widget" class="pure-g sessions jg-token-box">  
                <%= form_for(resource, :as => resource_name, :url => [resource_name, :tokens, :enable_otp], :html => { :method => :post, :class => "pure-u-1 form-devise" }) do |f| %>
                  <dl>
                    <dt class="jg-icon icon-unlocked pure-u-1-8"></dt>
                    <dd class="pure-u-7-8"><%= f.text_field :token, :class => "form-control", :placeholder => "Authenticator Token", :autocomplete => :off, :autofocus => true, :value => '' %></dd>
                  </dl>
              
                  <dl>
                    <dd id="session-action" class="pure-u-1-1"><%= f.button 'Enable Two-factor Authentication', {id: 'session-button', :class => "btn btn-lg btn-primary btn-block jg-submit-button"} %></dd>
                  </dl>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%- if resource.otp_enabled? && recovery_enabled? %>

  <div class="jg-widget pure-u-1">
    <div class="jg-widget-header pure-g jg-external-header jg-relative clearfix">
      <h2 class="icon-user jg-icon pure-u">Recovery Tokens</h2>
    </div>

  <div class="pure-u-md-2-24"></div>
    <div class="pure-u-1 jg-widget-content pure-u-md-20-24">
      <div class="jg-widget-body pure-g clearfix">
        <div class="jg-widget-form pure-u-1 jg-otp-explain">
          <p><%= I18n.t('explain', {:scope => 'devise.otp.tokens.recovery'}) %></p>  
        </div>
      </div>

      <div class="jg-widget-footer actions clearfix">
        <ul class="jg-widget-controls">
          <li><%= link_to 'Download your recovery codes', user_otp_recovery_codes_path, :class => "btn jg-submit-button" %></li>
        </ul>
      </div>
    </div>
  </div>

  <%- end %>

  <div class="jg-widget pure-u-1">
    <div class="jg-widget-header pure-g jg-external-header jg-relative clearfix">
      <h2 class="icon-user jg-icon pure-u">Reset/Disable Two Factor Authentication</h2>
    </div>

    <div class="pure-u-md-2-24"></div>
    <div class="pure-u-1 jg-widget-content pure-u-md-20-24">
      <div class="jg-widget-body pure-g clearfix">
        <div class="jg-widget-form pure-u-1 jg-otp-explain">
          <p>
            <%= I18n.t('reset_explain', {:scope => 'devise.otp.token_secret'}) %>
            This will reset your two-factor authentication token and disable the current two-factor authentication for your account. You will need to enroll your mobile device again with the new token.
          </p>  
        </div>
      </div>

      <div class="jg-widget-footer actions clearfix">
        <ul class="jg-widget-controls">
          <li><%= link_to I18n.t('reset_otp', {:scope => 'devise.otp.token_secret'}), user_otp_reset_tokens_path, :method => :post, :class => "btn jg-submit-button", :confirm => "Are you sure you want to reset your two-factor Authentication Token? This will disable two-factor Authentication and you will need to re-enable it." %></li>
          <% if resource.otp_enabled? %>
          <li><%= link_to "Disable Two Factor Authentication", user_tokens_disable_otp_path, :method => :post, :class => "btn jg-back-button", :confirm => "Are you sure you wish to disable two-factor authentication?" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>