- @submit_button_title = @server ? "Update Server" : "Create Server"

%script
  = raw "var serverId = #{@server.id}" if @server

%ul.jg-step-box.pure-g-r
  = render partial: "server_wizards/steps/helpers/location_summary"
  = render partial: "server_wizards/steps/helpers/resource_summary"

.jg-widget-content#jg-payment
  .jg-widget-header.pure-g.clearfix
    %h2.jg-icon.icon-pin-2.pure-u-1-2= "Confirm & Pay"

  #step-wizard-payg
    = render partial: 'server_wizards/steps/partials/confirm_payg', locals: { costs: @costs, payg: @payg, f: f, coupon_multiplier: @coupon_multiplier }

/ %ul.jg-step-box.pure-g-r
/   %li.disabled
/     .step-header
/       .pure-u-1-8.step-container
/         %span.step-number
/           3
/         %span.icon.icon-wallet-2
/       .pure-u.icon-arrow-down#toggle
/     .step-body

= javascript_include_tag "server_wizards/payg_confirmation"
