%script
  - t = render partial: 'locations/templates.json', formats: [:json], locals: { templates: @templates }
  = raw "var templates = #{t}"
  - if @server
    - server_json = render partial: 'servers/server.json', formats: [:json], locals: { server: @server }
  - else
    - server_json = false
  = raw "var server = #{server_json}"
  - activePack = @wizard_object.package_matched || 'null'
  = raw "var activePack = #{activePack}"
  - r = @wizard_object.remaining_resources.to_json
  = raw "var defaults = #{r}"
  = raw "var vcd_location = #{@wizard_object.location.to_json}"
  
%ul.jg-step-box.pure-g-r
  = render partial: "server_wizards/steps/helpers/location_summary"

- if @wizard_object.location.provider.scan(/vcd/i).count > 0
  = render partial: "server_wizards/steps/vcd_resources", locals: local_assigns
- else
  = render partial: "server_wizards/steps/server_resources", locals: local_assigns

%script
  - r = render partial: 'locations/location.json', formats: [:json], locals: { location: @wizard_object.location }
  = raw "var selected_location = #{r}" 
  = raw "var hours_remaining = #{Invoice.hours_till_next_invoice(current_user.account)}"
  = raw "var max_hours = #{Account::HOURS_MAX}"
  = raw "var millicents_dollar = #{Invoice::MILLICENTS_IN_DOLLAR}"

= javascript_include_tag "server_wizards/resources"
