- provisioner_templates = @wizard_object.location.provisioner_templates.group_by { |t| "#{t.os_type}-#{t.os_distro}" }
- hideTemplates = !@server.supports_rebuild?
%script
  - t = render partial: 'locations/templates.json', formats: [:json], locals: { templates: @templates }
  = raw "var templates = #{t}"
  - if @server
    - server_json = render partial: 'servers/server.json', formats: [:json], locals: { server: @server }
  - else
    - server_json = false
  = raw "var server = #{server_json}"
  - activePack = @wizard_object.package_matched || 'null'
  = raw "var activePack = #{activePack}"
  - r = @wizard_object.remaining_resources.to_json
  = raw "var defaults = #{r}"
  - p = render partial: 'locations/templates.json', formats: [:json], locals: { templates: provisioner_templates }
  = raw "var provisionerTemplates = #{p}"

=# render partial: "shared/order_progress" if params[:id]
%ul.jg-step-box.pure-g-r
  = render partial: "server_wizards/steps/helpers/location_summary"

.jg-widget-content
  .jg-widget-header.pure-g.clearfix
    %h2.jg-icon.icon-cloud.pure-u Server Details
  .jg-widget-body
    .jg-widget-form.pure-u-1.clearfix
      .form-group.jg-inline.pure-u-1.pure-g
        .form-group.pure-u-md-1-2
          = f.label :name, {class: 'pure-u-1 jg-mandatory'}
          = f.text_field :name, class: 'form-control', value: (@server.name if @server)
        .form-group.pure-u-md-1-2{:class => ("hidden" if @server)}
          = f.label :hostname, {class: 'pure-u-1 jg-mandatory'}
          = f.text_field :hostname, class: 'form-control', value: (@server.hostname if @server)

=#FIXME: Not allowing to rebuild Windows platform until onapp core dev team fix the bug
.jg-widget-content{:class => ("hidden" if hideTemplates)}
  .jg-widget-header.pure-g.clearfix
    %h2.jg-icon.icon-pin-2.pure-u-1.pure-u-md-1-3 Select Template
    #viewTabs.pure-u.pure-u-1.pure-u-md-1-3.distro_types
      %ul.nav.nav-tabs#jg-tabs
        - if @server
          - if @server.provisioner_role.blank?
            %li.active
              %a.jg-icon.icon-list{href: "#server-distributions"} Distributions
          - else
            %li.active
              %a.jg-icon.icon-list{href: "#server-apps"} Apps
        - elsif !provisioner_templates.blank?
          %li.active
            %a.jg-icon.icon-list{href: "#server-distributions"} Distributions
          %li
            %a.jg-icon.icon-list{href: "#server-apps"} Apps
    .pure-u.pure-u-1.pure-u-md-1-3
  .jg-widget-body
    - if @server
      %em.pure-u-1.alert.alert-warning.edit-server-warning Changing OS Type or Template will destroy all data
      = render partial: "server_wizards/steps/partials/server_distributions", locals: {f: f}
      = render partial: "server_wizards/steps/partials/server_apps", locals: {f: f}
    - else
      - if provisioner_templates.blank?
        = render partial: "server_wizards/steps/partials/server_distributions", locals: {f: f}
      - else
        = render partial: "server_wizards/steps/partials/server_distributions", locals: {f: f}
        = render partial: "server_wizards/steps/partials/server_apps", locals: {f: f}
    .jg-widget-footer.actions.clearfix
      .templates-total
        %span.pure-u
          Template Cost:
          %span.hourly-cost.pure-u
            %b#template-hourly-price
              $0.000000
            per hour,
          %span.monthly-cost.pure-u
            %b#template-monthly-price
              $0.000000
            per month


.jg-widget-content.resource-tabs{data: {params: "{#{@wizard_object.string_wizard_params}}"}}
  .jg-widget-header.pure-g.jg-form-withTabs.clearfix
    %h2.jg-icon.icon-cloud.pure-u Select Resources
    - if @server
      - if @wizard_object.location.budget_vps
        %em.pure-u-1.alert.alert-warning.edit-server-warning Editing VPS server resources is not currently supported
  .jg-widget-body
    %span{:class => ("hidden" if @server && @wizard_object.location.budget_vps)}
      %ul#resourceTabs.nav.nav-tabs
        %li{:class => (activate_slider_tab ? nil : 'active')}
          %a{href: '#packages', data: {'toggle' => 'tab'}} Packages
        - unless @wizard_object.location.budget_vps
          %li{:class => ("active" if activate_slider_tab)}
            %a{href: '#chooseyourown', data: {'toggle' => 'tab'}}
              - if @server
                Update resources
              - else
                Choose your own
      .tab-content
        #packages.tab-pane.fade.in{:class => ('active' unless activate_slider_tab)}
          = render "server_wizards/steps/partials/resource_packages", packages: @wizard_object.packages
        #chooseyourown.tab-pane.fade.in{:class => ('active' if activate_slider_tab)}
          = render "server_wizards/steps/partials/resource_sliders", f: f, location: @wizard_object.location

    .jg-widget-footer.actions.clearfix
      = hidden_field_tag :hourly
      = hidden_field_tag :monthly
      .resources-total.pure-g.no-costs
        .resources-cost.clearfix
          %span.pure-u
            Total Cost:
          %span.total-cost.pure-u
            %b#hourly-price
            per hour,
            %b#monthly-price
            per month.
            - if current_user
              Today you will be charged
              %b.bs-tooltip#today-price{"data-toggle" => "tooltip", "data-placement" => "top", "title" => "You currently have #{current_user.account.hours_till_next_invoice} hours remaining in this billing cycle (next billing date is #{current_user.account.next_invoice_date.to_date.to_formatted_s(:long)} at 1:00am GMT)"}
              - if @server
                (includes reimbursement for old server)
          %span.pure-u
            (Coupon Discounts & EU VAT are added on the final step if applicable)

      %ul.jg-widget-controls
        - if @server
          %li= f.button @wizard_object.last_step? ? "Update Server" : "Update Server", {class: 'btn jg-submit-button', id: "server_wizard_next_step"}
        - else
          %li= f.button @wizard_object.last_step? ? "Create Server" : "Create Server", {class: 'btn jg-submit-button', id: "server_wizard_next_step"}
          %li= f.button 'Back', name: "back_button", class: 'btn jg-back-button cancel'

/ %ul.jg-step-box.pure-g-r
/   = render partial: "server_wizards/steps/helpers/resource_summary"
/   %li.disabled
/     .step-header
/       .pure-u-1-8.step-container
/         %span.step-number
/           3
/         %span.icon.icon-wallet-2
/       .pure-u.icon-arrow-down#toggle
/     .step-body

%script
  - r = render partial: 'locations/location.json', formats: [:json], locals: { location: @wizard_object.location }
  = raw "var selected_location = #{r}"
  = raw "var hours_remaining = #{Invoice.hours_till_next_invoice(current_user.try(:account))}"
  = raw "var max_hours = #{Account::HOURS_MAX}"
  = raw "var millicents_dollar = #{Invoice::MILLICENTS_IN_DOLLAR}"

= javascript_include_tag "server_wizards/resources"
