%section.main-billing
  .container
    .pure-g
      .pure-u-1
        %table.main-billing-pic
          %tr
            %td= image_tag('main/unifiedcurrency.png')
            %td.line1
            %td= image_tag('main/uniusage.png')
            %td.line1
            %td= image_tag('main/uniclouds.png')
    .pure-g
      .pure-u-1
        .capt
          %p.pull-left
            = t('public.billing_cap1')
          %p.pull-left
            = t('public.billing_cap2')
          %p
            = t('public.billing_cap3')
    .pure-g
      .pure-u-1
        %h2= t('public.billing_head')
    .pure-g
      .pure-u-3-5
        %p.first= t('public.billing_par1')
        %p= t('public.billing_par2')
      .pure-u-2-5
        .faq-questions
          =link_to "How do we benchmark each cloud?", "https://help.cloud.net/hc/en-us/articles/206557364",
          target: "_blank" 
          =link_to "How do I manage my DNS?", "https://help.cloud.net/hc/en-us/articles/207356290-How-do-I-manage-my-DNS-",
          target: "_blank" 
          =link_to "What payment methods can I use?", "https://help.cloud.net/hc/en-us/articles/207356350-What-payment-methods-are-accepted-",
          target: "_blank" 
          =link_to "What’s the maximum monthly charge?", "https://help.cloud.net/hc/en-us/articles/207356370-What-are-the-maximum-hours-charged-in-a-month-",
          target: "_blank"
