%section.main-message-area
  .space
  .container
    #globe
      = video_tag("main/globevideobg.mp4", autoplay: true, loop: true, preload: "auto", poster: "main/globebg.jpg")
  .container-fluid
    .jg-bring-to-front
      .pure-g
        .jg-main-message.jg-bring-to-front.pure-u-1-1
          %h1.jg-headline
            = t('public.headline')
          .jg-top-message
            = t('public.main_message')
    .pure-g
      .pure-u-1-6
      .pure-u-2-3.jg-bring-to-front
        .jg-parameters-form
          = form_tag("/servers/create", method: "get", enforce_utf8: false, class: "pure-form pure-form-stacked") do
            .pure-g
              .pure-u-1.pure-u-md-1-5.main-label
                = location_select @regions
              .pure-u-1.pure-u-md-1-5.main-label
                = cpu_select
              .pure-u-1.pure-u-md-1-5.main-label
                = mem_select
              .pure-u-1.pure-u-md-1-5.main-label
                = disc_select
              .pure-u-1.pure-u-md-1-5
                = button_tag('Search', type: 'submit', name: '', class: "pure-button pure-button-primary")
    .pure-g
      .jg-main-message.jg-bring-to-front.pure-u-1-1
        .jg-ad-message
          - cache cache_key_for_cheapest_location do
            = "Deploy now - servers starting at #{Invoice.pretty_total @cheapest.hourly_price}/h or #{Invoice.pretty_total @cheapest.monthly_price}/mo" if @cheapest
