%section.main-billing
  .container
    .pure-g
      .pure-u-1
        %table.main-billing-pic
          %tr
            %td= image_tag('main/unifiedcurrency.png')
            %td.line1
            %td= image_tag('main/uniusage.png')
            %td.line1
            %td= image_tag('main/uniclouds.png')
    .pure-g
      .pure-u-1
        .capt
          %p.pull-left
            = t('public.billing_cap1')
          %p.pull-left
            = t('public.billing_cap2')
          %p
            = t('public.billing_cap3')
    .pure-g
      .pure-u-1
        %h2= t('public.billing_head')
    .pure-g
      .pure-u-3-5
        %p.first= t('public.billing_par1')
        %p= t('public.billing_par2')
      .pure-u-2-5
        .faq-questions
          =link_to "Maximum hours charged in a month ?", "http://feedback.cloud.net/knowledge-base/article/maximum-hours-are-charged-in-a-month-",
          target: "_blank" 
          =link_to "How is the Cloud Index calculated ?", "http://feedback.cloud.net/knowledge-base/article/how-is-the-cloud-index-calculated-",
          target: "_blank" 
          =link_to "How do I manage my DNS ?", "http://feedback.cloud.net/knowledge-base/article/how-do-i-manage-my-dns",
          target: "_blank" 
          =link_to "What payment methods are accepted ?", "http://feedback.cloud.net/knowledge-base/article/what-payment-methods-are-accepted-",
          target: "_blank" 