= render partial: 'main_form'
= render partial: 'main_description'
= render partial: 'main_billing'
= render partial: 'main_transparency'
= render partial: 'main_interoperability'
= render partial: 'main_news'
=# render partial: 'main_deploy'

:javascript
  ga('send', 'event', 'Page', 'View', 'Main Page');