!!!
%html{"ng-app" => "CloudNet"}
  %head
    = render 'shared/head'
  %body{class: body_class}
    = render 'shared/body'
    - if current_user
      %div#layout
        %div#main.pure-u-1-1
          = menu_header
          .wrapper.container
            = render partial: 'shared/alerts'
            =# render partial: 'shared/breadcrumbs'
            = yield

    - else
      = javascript_include_tag "shared/session"
      .wrapper.login
        = render partial: 'shared/alerts'
        = yield
    = render partial: 'shared/stub'
