!!!
- content_for :viewport_content do
  width=device-width, initial-scale=0.8

%html{"ng-app" => "CloudNet"}
  %head
    = render 'shared/head'
  %body{class: body_class}
    = render 'shared/body'
    .public-layout
      = menu_header
      = render partial: 'shared/alerts'
      = yield

      = render partial: 'shared/footer'
    = render partial: 'shared/stub'
